{
  "$schema": "https://typedoc.org/schema.json",
  "plugin": ["typedoc-plugin-markdown"],
  "entryPoints": ["__TS_ENTRY__"],
  "entryPointStrategy": "expand",
  "exclude": ["**/*.test.ts", "**/*.d.ts", "**/*.svelte"],
  "out": "__DOCS_OUT_RELATIVE__",
  "tsconfig": "./tsconfig.json",
  "readme": "none",
  "githubPages": false,
  "hideGenerator": true,
  "excludePrivate": true,
  "excludeInternal": true,
  "sort": ["source-order"],
  "outputFileStrategy": "modules",
  "mergeReadme": false,
  "hidePageHeader": true,
  "useCodeBlocks": true,
  "expandObjects": true,
  "parametersFormat": "table",
  "entryFileName": "index.md",
  "skipErrorChecking": true,
  "logLevel": "Warn",
  "disableGit": true,
  "disableSources": true
}
